h2{
    color: #f19d00;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
    padding-left: 25px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}
section{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 40px;
}
article {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: right;
    width: 272px;
    height: 464px;
}

h3{
    text-align: left;
    font-weight: bold;
    padding-left: 25px;
}

p{
    text-align: left;
    padding-left: 25px;
}

.img1 {
    background: url(../pr10/img/1.png);
    width: 200px;
    height: 150px;
    margin-left: auto;
}
.img2 {
    background: url(../pr10/img/2.png);
    width: 200px;
    height: 180px;
    margin-left: auto;
}
.img3 {
    background: url(../pr10/img/3.png);
    width: 230px;
    height: 180px;
    margin-left: auto;
}
.img4 {
    background: url(../pr10/img/4.png);
    width: 210px;
    height: 230px;
    margin-left: auto;
}
.men {
    background: url(../pr10/img/men.png);
    width: 795px;
    height: 216px;
    float: right;
}
.ma article{
    width: 1160px;
    height: 216px;
}
.am{
    padding-top: 20px;
}

